@import "./global";
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Montserrat:ital,wght@0,200;1,200&family=Raleway:ital@0;1&family=Ysabeau:ital,wght@0,1;0,100;1,100&display=swap");

:root {
  --contoro: "Castoro Titling", cursive;
  --monster: "Montserrat", sans-serif;
  --real: "Raleway", sans-serif;
  --ysa: "Ysabeau", sans-serif;
}
// card
@mixin card($bgcolor) {
  width: 100%;
  padding: 4rem 0;
  background-color: $bgcolor;
}
// little card
@mixin littleCard() {
  width: 70%;
  padding: 2rem 0;
  background-color: white;
  margin: 0 auto;
}
// title
@mixin title() {
  font-family: var(--contoro);
  letter-spacing: 2px;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
// button
@mixin btn($bgcolor, $color) {
  padding: 10px 20px;
  border: 0;
  border: 1px solid black;
  border-radius: 30px;
  background-color: rgba($color: #000000, $alpha: 0);
  font-size: 1rem;
  &:hover {
    background-color: $bgcolor;
    color: $color;
  }
}

// grid
@mixin grid($display, $grid-template-columns, $gap) {
  display: $display;
  grid-template-columns: $grid-template-columns;
  gap: $gap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(/img/banner-bg-01.jpg);
  background-size: 100% 100%;
}
.navigation .navbar .navbar__logo .fa-bars {
  display: none;
}
.navigation {
  width: 100%;
  height: 10vh;
  background-color: #fff;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;

    .navbar__logo {
      a {
        display: flex;
        align-items: center;
        color: black;
        font-size: 1.5rem;
        span {
          color: blue;
          font-family: var(--real);
          font-weight: 900;
          margin-right: 5px;
        }
        img {
          width: 15%;
        }
      }
    }
    .navbar__nav {
      a {
        margin-left: 35px;
        margin-right: 35px;
        font-size: 1.3rem;
        color: black;
        font-family: var(--ysa);
        font-weight: 900;
        padding: 5px 15px;
        transition: all 0.5s linear;
        &:hover {
          background-color: blue;
          color: #fff;
          padding: 5px 15px;
          border-radius: 30px;
        }
      }
    }
    .navbar__icon {
      i {
        margin-left: 25px;
        margin-right: 25px;
        font-size: 1.3rem;
        // color: blue;
        -webkit-text-stroke: 0.5px blue;
      }
    }
  }
}

.banner {
  .swiper {
    .swiper-slide {
      text-align: center;
      h1 {
        color: blue;
        font-family: var(--real);
        font-size: 4rem;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 1rem;
        margin-top: 5%;
      }
      p {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 3rem;
        font-family: var(--monster);
        color: black;
        font-weight: 900;
      }
      button {
        transition: all 0.5s linear;
        margin-bottom: 2rem;
        @include btn(blue, black);
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .swiper-button-next {
    display: none;
  }
}

.servise {
  @include card(#fff);
  .title {
    text-align: center;
    h2 {
      @include title();
    }
  }
}

.servise__item {
  width: 80%;
  margin: 0 auto;
  h2 {
    .fa-gift {
      color: #fff;
      -webkit-text-stroke: 2px black;
      margin-right: 20px;
    }
    font-family: var(--monster);
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  p {
    width: 80%;
  }
}

.blog {
  @include card(white);
  .blog__header {
    @include card(blue);
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .blog__item {
      color: #fff;
      margin-left: 15px;
      margin-right: 15px;
      font-size: 1.3rem;
      padding: 0px 10px;
      border: 1px solid blue;
      border-radius: 20px;
      transition: all 0.5s linear;
      &:hover {
        border: 1px solid black;
        padding: 0px 10px;
        border-radius: 20px;
        background-color: #fff;
        color: black;
      }
    }
  }
}
.blog__container {
  @include grid(grid, repeat(4, 1fr), 3rem);
  .blog__container__item {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    &:hover .blog__shadow {
      transform: translateY(35vh);
    }
    &:hover .blog__shadow__black {
      transform: translateY(100vh);
    }
    &:hover .title,
    &:hover .title button {
      color: #000000;
    }
    .blog__shadow {
      position: absolute;
      width: 100%;
      height: 60px;
      background-color: rgba(255, 253, 253, 1);
      box-shadow: 0 -10px 10px white, 0 -20px 20px white, 0 -30px 30px white,
        0 40px 40px white;
      transform: translateY(-400px);
      transition: all 0.5s linear;
    }
    .blog__shadow__black {
      position: absolute;
      background: rgba($color: #000000, $alpha: 0.5);
      width: 100%;
      height: 100%;
      transition: all 0.5s linear;
    }
    .title {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white;
      button {
        color: white;
        @include btn(rgb(255, 255, 255), black);
      }
    }
  }
}
.active {
  border: 1px solid black;
  padding: 0px 10px;
  border-radius: 20px;
  background-color: black;
  color: black;
}
.success {
  width: 100%;
  padding: 4rem 0;
  background-color: #6266ea;
  .success__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fa-box-archive {
      font-size: 4rem;
      color: #fff;
      -webkit-text-stroke: 2px black;
    }
    .title {
      color: #fff;
      text-align: center;
      h2 {
        font-family: var(--monster);
        font-size: 1.8rem;
      }
      p {
        font-family: var(--real);
      }
    }
    button {
      padding: 10px 15px;
      border-radius: 30px;
      color: #fff;
      background-color: #4232c2;
      border: 0;
    }
  }
}
.work {
  @include card(#fff);
  .title {
    @include title();
    h2 {
      font-family: var(--contoro);
    }
  }
}
.work__content {
  @include grid(grid, repeat(3, 1fr), 3rem);
}
.work__item {
  cursor: pointer;
  .work__img {
    position: relative;
    overflow: hidden;
    .img__title {
      position: absolute;
      bottom: 10px;
      left: 10px;
      transition: all 0.5s linear;
    }
    &:hover .img__title {
      bottom: 50%;
      color: #fff;
    }
    &:hover .work__shadow__white {
      transform: translateY(100vh);
    }
    &:hover .work__shadow__blue {
      transform: translateY(-100%);
    }

    .work__shadow__white {
      position: absolute;
      width: 100%;
      height: 100px;
      background-color: rgba(255, 253, 253, 1);
      box-shadow: 0 -10px 10px white, 0 -20px 20px white, 0 -30px 30px white,
        0 40px 40px white;
      transform: translateY(-40px);
      transition: all 0.5s linear;
    }
    .work__shadow__blue {
      position: absolute;
      background: rgba($color: #543ece, $alpha: 0.7);
      width: 100%;
      height: 100%;
      transform: translateY(-100vh);
      transition: all 0.5s linear;
    }
  }
}

.footer {
  @include card(#6266ea);
}
.footer__content {
  @include grid(grid, repeat(4, 1fr), 3rem);
  color: #fff;
  h2 {
    margin-bottom: 1rem;
    font-family: var(--ysa);
  }
  p {
    opacity: 0.7;
    margin-bottom: 1rem;
  }
  .social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    i {
      margin-left: 15px;
      margin-right: 15px;
      font-size: 1.3rem;
      background-color: #fff;
      padding: 5px 15px;
      color: #6266ea;
      border-radius: 10px;
      transition: all 0.5s linear;
      &:hover {
        color: white;
        background-color: #6266ea;
      }
    }
  }
  a {
    display: block;
    color: #fff;
    font-family: var(--ysa);
    font-size: 1.2rem;
    &:hover {
      font-size: 1.2rem;
      font-family: var(--ysa);
      color: wheat;
    }
  }
  .tel {
    font-family: var(--monster);
    margin-bottom: 1rem;
    &:hover {
      font-size: 1.2rem;
      font-family: var(--monster);
    }
  }
}

.copyright {
  width: 100%;
  padding: 1rem 0;
  background-color: #4232c2;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    a {
      color: #000000;
    }
  }
}

// loader
.loader {
  width: 100%;  
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: #fff;
}

.socket {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
}

.hex-brick {
  background: #000000;
  width: 30px;
  height: 17px;
  position: absolute;
  top: 5px;
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.h2 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}

.h3 {
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
}

.gel {
  height: 30px;
  width: 30px;
  transition: all .3s;
  -webkit-transition: all .3s;
  position: absolute;
  top: 50%;
  left: 50%;
}

.center-gel {
  margin-left: -15px;
  margin-top: -15px;
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.c1 {
  margin-left: -47px;
  margin-top: -15px;
}

.c2 {
  margin-left: -31px;
  margin-top: -43px;
}

.c3 {
  margin-left: 1px;
  margin-top: -43px;
}

.c4 {
  margin-left: 17px;
  margin-top: -15px;
}

.c5 {
  margin-left: -31px;
  margin-top: 13px;
}

.c6 {
  margin-left: 1px;
  margin-top: 13px;
}

.c7 {
  margin-left: -63px;
  margin-top: -43px;
}

.c8 {
  margin-left: 33px;
  margin-top: -43px;
}

.c9 {
  margin-left: -15px;
  margin-top: 41px;
}

.c10 {
  margin-left: -63px;
  margin-top: 13px;
}

.c11 {
  margin-left: 33px;
  margin-top: 13px;
}

.c12 {
  margin-left: -15px;
  margin-top: -71px;
}

.c13 {
  margin-left: -47px;
  margin-top: -71px;
}

.c14 {
  margin-left: 17px;
  margin-top: -71px;
}

.c15 {
  margin-left: -47px;
  margin-top: 41px;
}

.c16 {
  margin-left: 17px;
  margin-top: 41px;
}

.c17 {
  margin-left: -79px;
  margin-top: -15px;
}

.c18 {
  margin-left: 49px;
  margin-top: -15px;
}

.c19 {
  margin-left: -63px;
  margin-top: -99px;
}

.c20 {
  margin-left: 33px;
  margin-top: -99px;
}

.c21 {
  margin-left: 1px;
  margin-top: -99px;
}

.c22 {
  margin-left: -31px;
  margin-top: -99px;
}

.c23 {
  margin-left: -63px;
  margin-top: 69px;
}

.c24 {
  margin-left: 33px;
  margin-top: 69px;
}

.c25 {
  margin-left: 1px;
  margin-top: 69px;
}

.c26 {
  margin-left: -31px;
  margin-top: 69px;
}

.c27 {
  margin-left: -79px;
  margin-top: -15px;
}

.c28 {
  margin-left: -95px;
  margin-top: -43px;
}

.c29 {
  margin-left: -95px;
  margin-top: 13px;
}

.c30 {
  margin-left: 49px;
  margin-top: 41px;
}

.c31 {
  margin-left: -79px;
  margin-top: -71px;
}

.c32 {
  margin-left: -111px;
  margin-top: -15px;
}

.c33 {
  margin-left: 65px;
  margin-top: -43px;
}

.c34 {
  margin-left: 65px;
  margin-top: 13px;
}

.c35 {
  margin-left: -79px;
  margin-top: 41px;
}

.c36 {
  margin-left: 49px;
  margin-top: -71px;
}

.c37 {
  margin-left: 81px;
  margin-top: -15px;
}

.r1 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .2s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .2s;
}

.r2 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .4s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .4s;
}

.r3 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .6s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .6s;
}

.r1 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .2s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .2s;
}

.r2 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .4s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .4s;
}

.r3 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .6s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .6s;
}

@keyframes pulse00 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fade00 {
  0% {
    background: #252525;
  }

  50% {
    background: #000000;
  }

  100% {
    background: #353535;
  }
}


// about

.about {
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
}
.about__content {
  @include grid(grid, repeat(2, 1fr), 3rem);
  align-items: center;
  .about__item {
    h2 {
      border-bottom: 5px solid blue;
      display: inline-block;
      margin-bottom: 2rem;
      font-family: var(--real);
      font-size: 2rem;
    }
    p {
      font-family: var(--monster);
    }
  }
}
.our__team {
  @include card(#fff);
}
.ourteam__content {
  @include grid(grid, repeat(4, 1fr), 3rem);
  align-items: center;
  .ourteam__item {
    h2 {
      font-size: 2rem;
      border-bottom: 5px solid blue;
      display: inline-block;
      margin-bottom: 1rem;
      font-family: var(--monster);
    }
    p {
      font-family: var(--ysa);
      font-size: 1rem;
    }
    .ourteam__img {
      border-radius: 100%;
      overflow: hidden;
      img {
        transform: scale(0.8);
        border-radius: 100%;
        transition: all 0.5s linear;
        &:hover {
          transform: scale(1);
        }
      }
    }
    .title {
      text-align: center;
      h2 {
        display: block;
        border-bottom: 0;
        font-family: var(--monster);
      }
    }
  }
}

.partner {
  @include card(#6266ea);
  .title {
    @include title();
    color: white;
    font-family: var(--monster);
  }
}

.partner__content {
  @include grid(grid, repeat(4, 1fr), 3rem);
  .partner__item {
    background-color: #7276ec;
    text-align: center;
    transition: all 0.4s linear;
    &:hover {
      background-color: #a9acef;
    }
    .fa-solid {
      font-size: 5rem;
      color: white;
      padding: 4rem 1rem;
    }
  }
}

.progress {
  @include card(#fff);
}
.progress__content {
  @include grid(grid, 40% 60%, 3rem);
  .progress__item {
    h2 {
      margin-bottom: 1rem;
      font-family: var(--monster);
      font-size: 2rem;
    }
    .progress__bar {
      h2 {
        display: flex;
        justify-content: space-between;
        width: 70%;
        span {
          font-size: 1.3rem;
        }
      }
      input {
        width: 100%;
        background-color: #4232c2;
        color: #4232c2;
      }
    }
  }
}

.choose {
  @include card(#fff);
  position: relative;
}
.choose__content {
  @include grid(grid, repeat(2, 1fr), 3rem);
  align-items: flex-end;
  &::after {
    height: 25%;
    position: absolute;
    content: "";
    left: 0;
    @include card(#efeffd);
  }
  .choose__item {
    z-index: 99;
    margin-bottom: 1rem;
  }
}

.mission {
  @include card(#fff);
}
.mission__content {
  @include grid(grid, repeat(3, 1fr), 3rem);
  .mission__item {
    text-align: center;
    .fa-ads {
      background-color: #6266ea;
      color: white;
      padding: 30px 40px;
      font-size: 4rem;
      border-radius: 20px;
      margin-bottom: 1rem;
    }
    h2 {
      margin-bottom: 0.5rem;
      font-family: var(--contoro);
    }
    p {
      font-family: var(--ysa);
    }
  }
}

.contact__about {
  @include card(whitesmoke);
  text-align: center;
  .title {
    h2 {
      font-family: var(--monster);
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
  form {
    width: 60%;
    height: 7vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    margin-bottom: 1rem;

    input {
      width: 90%;
      height: 100%;
      border-radius: 20px 0 0 20px;
      text-indent: 10px;
      font-size: 1.5rem;
      border-right: 0;
      outline-color: #4232c2;
    }
    button {
      width: 10%;
      border-radius: 20px;
      background-color: #4232c2;
      border-radius: 0 20px 20px 0;
      color: white;
      font-size: 1rem;
    }
  }
}

// work
.work__banner {
  width: 100%;
  height: 70vh;
  background-image: url(/img/banner-bg-02.jpg);
  background-size: cover;
  text-align: center;
  padding-top: 6%;
  color: white;
  h2 {
    font-family: var(--monster);
    font-size: 3rem;
    display: inline-block;
    border-bottom: 5px solid #a9acef;
    padding-bottom: 0.5rem;
  }
  h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: var(--real);
    letter-spacing: 2px;
  }
  p {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    font-family: var(--ysa);
  }
  button {
    padding: 5px 10px;
    border-radius: 20px;
    border: 0;
    font-size: 1.2rem;
    background-color: rgba($color: #000000, $alpha: 0);
    color: white;
    border: 1px solid white;
    transition: all 0.5s linear;
    &:nth-child(even) {
      background-color: rgba($color: #000000, $alpha: 0);
      &:hover {
        background-color: #4232c2;
      }
    }
    &:nth-child(odd) {
      background-color: #4232c2;
      box-shadow: 2px 0px 20px white;
    }
  }
}

.work__blog {
  @include card(#fff);
}
.work__header {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .work__items {
    font-family: var(--real);
    font-size: 1.3rem;
    padding: 5px 20px;
    border-radius: 20px;
  }
  .work__active {
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #4232c2;
    color: white;
  }
}
.work__blog__content {
  @include grid(grid, repeat(3, 1fr), 3rem);
  margin-top: 5%;
  .work__blog__item {
    border: 1px solid grey;
    padding-bottom: 0.5rem;
    transition: all 0.5s linear;
    h2,
    p,
    a {
      margin-left: 10px;
      margin-top: 15px;
    }
    p {
      margin-bottom: 1rem;
    }
    a {
      font-family: var(--real);
      color: #4232c2;
    }
  }
}
.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  .btn__white {
    background-color: white;
    color: #000000;
  }
  button {
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #6266ea;
    color: #fff;
  }
}
.trasform {
  @include card(whitesmoke);
}
.trasform__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  align-items: center;
  .tarsform__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .title {
    h3 {
      color: #86d6da;
      font-family: var(--real);
      margin-bottom: 1rem;
    }
    h2 {
      font-family: var(--monster);
      font-size: 2.2rem;
      margin-bottom: 1rem;
    }
    p {
      font-family: var(--ysa);
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
  }
}
.digital {
  @include littleCard();
  .title {
    h2 {
      display: inline-block;
      border-bottom: 5px solid #4232c2;
      margin-bottom: 2rem;
      font-family: var(--monster);
      font-size: 2.2rem;
    }
    p {
      font-family: var(--ysa);
      font-size: 1.2rem;
    }
  }
}
.digital__content {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.swiper__content {
  display: flex;
}

.card__work {
  @include littleCard();
  .title {
    p {
      font-size: 1.1rem;
      font-family: var(--ysa);
      color: blue;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    h2 {
      font-family: var(--contoro);
      font-size: 2rem;
      border-left: 5px solid grey;
      padding-left: 20px;
    }
  }
  p {
    font-size: 1.1rem;
    font-family: var(--ysa);
    color: blue;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.comment {
  @include littleCard();
  h2 {
    font-family: var(--real);
  }
}
.comment__content {
  display: grid;
  grid-template-columns: 100%;
  .comment__item {
    margin-top: 1rem;
    .tes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
    .user {
      display: flex;
      h2 {
        span {
          font-size: 0.9rem;
          font-family: var(--real);
        }
      }
    }
    img {
      border-radius: 100%;
      width: 60%;
    }
    p {
      border: 1px solid black;
      text-align: justify;
      padding: 10px 15px;
      font-family: var(--ysa);
      color: black;
      font-weight: 900;
    }
  }
}
.leave__comment {
  @include littleCard();
  .title {
    h2 {
      margin-bottom: 0.5rem;
    }
    span {
      font-family: var(--ysa);
    }
  }
  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    textarea {
      width: 100%;
      height: 20vh;
      font-size: 1.5rem;
      text-indent: 20px;
    }
    .row {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;

      label {
        font-family: var(--contoro);
      }
      .col {
        width: 48%;
        input {
          width: 100%;
          height: 5vh;
          margin-bottom: 1rem;
          margin-top: 0.5rem;
          font-size: 1.3rem;
          text-indent: 10px;
        }
      }
    }
    .btnRow {
      text-align: right;
      button {
        padding: 10px 15px;
        font-size: 1.3rem;
        color: white;
        background-color: #4232c2;
      }
    }
  }
}

.post {
  @include card(rgb(189, 202, 207));
  .title {
    h2 {
      font-family: var(--contoro);
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }
}
.post__content {
  @include grid(grid, repeat(3, 1fr), 3rem);
  .post__item {
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    img {
      border-radius: 20px;
    }
    .post__title {
      padding: 10px 10px;
      a {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;
      }
    }
  }
}

.price {
  @include card(#fff);
  .title {
    @include title();
    margin-bottom: 5rem;
    p {
      font-family: var(--ysa);
      font-size: 1rem;
      font-weight: 900;
    }
  }
}

.price__contact {
  @include grid(grid, repeat(3, 1fr), 3rem);
  .price__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    border-radius: 20px;
    .fa-hand-holding-dollar {
      font-size: 3rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: #4232c2;
    }
    span {
      color: #000000;
      font-size: 1.2rem;
      color: black;
    }
    ul {
      color: #000000;
      margin-bottom: 3rem;
      font-size: 1.5rem;
      font-family: var(--real);
      list-style: circle;
      color: black;
    }
    button {
      padding: 5px 15px;
      font-size: 1.3rem;
      border-radius: 30px;
      transition: all 0.5s linear;
      &:hover {
        background-color: #4232c2;
        color: #fff;
      }
    }
  }
  .price__item__blue {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #4232c2;
    .fa-hand-holding-dollar {
      font-size: 3rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: white;
      border-radius: 20px;
    }
    span {
      font-size: 1.2rem;
    }
    ul {
      margin-bottom: 3rem;
      font-size: 1.5rem;
      font-family: var(--real);
    }
    button {
      padding: 5px 15px;
      font-size: 1.3rem;
      border-radius: 30px;
      transition: all 0.5s linear;
      &:hover {
        background-color: #4232c2;
        color: #fff;
      }
    }
  }
}

.our__price {
  @include card(rgb(204, 220, 220));
  .title {
    @include title();
    p {
      font-size: 1.1rem;
      font-family: var(--ysa);
    }
  }
}

.our__price__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  .o_p__item {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    .img {
      height: 100%;
      background-color: #4232c2;
      width: 10%;
      text-align: center;
      padding: 5px 0;
      .fa-hand-holding-dollar {
        font-size: 3rem;
        display: block;
        color: #fff;
        margin-bottom: 10px;
      }
      span {
        color: white;
      }
    }
    ul {
      margin-top: 0.5%;
      font-size: 1.5rem;
      font-family: var(--real);
    }
    .btn1 {
      width: 10%;
      text-align: center;
      span {
        display: block;
        font-size: 1.5rem;
      }
      button {
        padding: 5px 15px;
        font-size: 1.3rem;
        border-radius: 30px;
        transition: all 0.5s linear;
        &:hover {
          background-color: #4232c2;
          color: #fff;
        }
      }
    }
  }
}

.price__footer {
  @include card(whitesmoke);
}
.price__f__content {
  @include grid(grid, repeat(2, 1fr), 3rem);
  align-items: center;
  text-align: center;
  .p_f__item {
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      margin-top: 1%;
      padding: 5px 15px;
      background-color: #fff;
      i {
        font-size: 2rem;
        color: #4232c2;
      }
      h2 {
        p {
          font-size: 1rem;
          font-family: var(--ysa);
        }
      }
      button {
        height: 30px;
        padding: 5px 10px;
        font-size: 1rem;
        transition: all 0.5s linear;
        &:hover {
          background-color: #4232c2;
          color: #fff;
        }
      }
    }
  }
  button {
    padding: 5px 15px;
    font-size: 1.3rem;
    border-radius: 10px;
    transition: all 0.5s linear;
    margin-top: 1rem;
    &:hover {
      background-color: #4232c2;
      color: #fff;
    }
  }
}

.contact__card {
  @include card(rgb(224, 236, 237));
}
.contact__card__content {
  @include grid(grid, repeat(2, 1fr), 3rem);
  align-items: center;
  .contact__card__item {
    h2 {
      color: #4232c2;
      font-family: var(--monster);
      font-size: 3rem;
      font-weight: 900;
    }
  }
}

.contact__contact {
  @include card(#fff);
  .title {
    h2 {
      color: #4232c2;
      font-family: var(--monster);
      font-size: 2rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    p {
      width: 75%;
      font-family: var(--ysa);
    }
  }
}

.contact__contact__content {
  @include grid(grid, 30% 70%, 3rem);
  margin-top: 3rem;
  .contact__contact__item {
    .media__contact {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
      i {
        font-size: 2rem;
        border: 1px solid black;
        padding: 15px 15px;
        color: #4232c2;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      text-align: right;
      .contact__row {
        width: 100%;
        display: flex;
        gap: 1rem;
        input {
          width: 100%;
          height: 6vh;
          margin-top: 1rem;
          text-indent: 15px;
          font-size: 1.3rem;
        }
        textarea {
          width: 100%;
          height: 15vh;
          margin-top: 1rem;
          text-indent: 15px;
          font-size: 1.3rem;
        }
      }
      button {
        transition: all 0.5s linear;
        @include btn(#4232c2, #fff);
        margin-top: 1rem;
      }
    }
  }
}

.swirl-in-left-fwd {
  -webkit-animation: swirl-in-left-fwd 0.6s ease-out both;
  animation: swirl-in-left-fwd 0.6s ease-out both;
}
@-webkit-keyframes swirl-in-left-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    opacity: 1;
  }
}

@keyframes swirl-in-left-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    opacity: 1;
  }
}

.hide {
  display: none;
}
.show {
  display: block;
}
.grid {
  @include grid(grid, repeat(4, 1fr), 3rem);
}
